header {
    z-index: 1000;
    width: 100%;
    position: fixed;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 15px 30px, rgba(0, 0, 0, 0.22) 0px 30px 50px;

    .navbar {
        background-color: $color-primary;
        padding-left: 5px;
    }

    nav .navbar-nav li a {
        font-weight: bold;
        color: $color-default !important;
    }

    nav .navbar-nav li a:hover {
        color: $color-hover-button !important;
        transition: 0.6s;
    }
}